@keyframes showMenu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes showList{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}