.mainHeader {
  height: 5000px;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $color-white;
  padding: $pd-7;
  box-shadow: 0 3px 6px 0 #0000000d;
}
.bg-header-wave {
  top: 0;
  & img {
    width: 100%;
  }
}
.bg-header-wavy {
  top: -50px;
  right: 90px;
}
.headerInner {
  width: 100%;
  .header-bg {
    max-width: 1200px;
    margin: auto;
  }
  .main-logo {
    width: 80px;
  }
  .navbar-brand {
    padding: 0; //Repace Bs5
    margin: 0; //Repalce Bs5
  }
  .nav-item {
    &:hover .show-menu-home,
    &:hover .show-menu-about,
    &:hover .show-menu-shop,
    &:hover .show-menu-element {
      display: flex !important;
    }
    .col-4,
    .col-12 {
      font-size: $fs-0;
      font-weight: $fw-2;
      .bd-color-pri {
        border-bottom: 2px solid !important; //Replace Bs5
        border-color: $color-pri !important; //Replace Bs5
      }
      .txt-color-pri {
        color: $color-pri;
      }
      p {
        padding-bottom: $pd-1;
        transition: all 0.2s;
        &:hover {
          @include txtHover($color-pri);
        }
      }
    }
  }
  .nav-link {
    @include txtStyle($color-dark, $fs-1, $fw-2);
    &:hover {
      @include txtHover($color-pri);
    }
  }
  .show-menu-home {
    @include showMenuNavbar($color-white);
    width: 750px;
    left: 50%;
    top: 200%;
    transform: translateX(-50%);
    &::after {
      @include showMenuAfter($fs-0, $fs-0, $color-white);
      left: 46%;
      top: -2%;
    }
    &::before {
      @include showMenuBefore;
      top: -10%;
      left: 42%;
    }
  }
  .show-menu-about {
    @include showMenuNavbar($color-white);
    width: 220px;
    transform: translateX(0);
    left: 0;
    top: 200%;
    &::after {
      @include showMenuAfter($fs-0, $fs-0, $color-white);
      left: 7%;
      top: -2%;
    }
    &::before {
      @include showMenuBefore;
      top: -10%;
      left: -6%;
    }
    .blog-singlepost-hv{
      width: 6px;
      height: 6px;
      background: $color-pri;
      border-radius: 50%;
      position: absolute;
      top: 20%;
      right: 0;
    }
    .show-submenu-post:hover .submenu-post{
      display: block;
    }
    .submenu-post{
      background-color: $color-white;
      top: 66%;
      left: 100%;
      width: 220px;
      box-shadow: 0 0px 6px 3px #0000000d;
      display: block;
    }
  }
  .show-menu-shop {
    @include showMenuNavbar($color-white);
    width: 220px;
    transform: translateX(0);
    right: 0;
    top: 200%;
    &::after {
      @include showMenuAfter($fs-0, $fs-0, $color-white);
      right: 27%;
      top: -2%;
    }
    &::before {
      @include showMenuBefore;
      top: -10%;
      right: 12%;
    }
  }
  .show-menu-element {
    @include showMenuNavbar($color-white);
    width: 750px;
    left: 0%;
    top: 200%;
    transform: translateX(-50%);
    &::after {
      @include showMenuAfter($fs-0, $fs-0, $color-white);
      left: 53%;
      top: -2%;
    }
    &::before {
      @include showMenuBefore;
      top: -10%;
      left: 48%;
    }
  }
  .navbar {
    padding: 0; //Replace Bs5
    z-index: 999;
  }
  .container-fluid {
    padding: 0; //Replace Bs5
  }
  .iconBar {
    a {
      @include txtStyle($color-dark, $fs-8, $fw-2);
      @include pd(0, $pd-1, 0, 0);
      transition: all 0.3s;
      &:hover {
        @include txtHover($color-pri);
        transition: all 0.3s;
      }
      &:last-child {
        padding-right: 0;
      }
    }

    .phone-icon {
      @include txtStyle($color-white, $fs-1, $fw-2);
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    @include pd(0, $pd-6, 0, 0);
  }
}
